htnml, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.sidebar {
    position: fixed;
    background-color: #FFE699;
    width: 250px;
    height: 100%;
}

.logo {
    text-align: center;
}

.img-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 20px auto 20px auto;
    overflow: hidden;
}

.img-logo img {
    width: 100px;
    height: 100px;
    object-fit: fill;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.cards{
    width: 160px;
    height: 340px;
    background-color: #B3E5FC;
    float: left;
    border-radius: 0 0 8px 8px;
    padding: 0 0 10px 0;
    margin: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    justify-content: space-between;
}

.phone-info {
    text-align: center; 
}

.phone-info h2,h3,p {
    margin: 0;
    padding-bottom: 5px;
}

.checkboxes {
    display: flex;
    margin: 0;
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.checkboxes input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.checkboxes label {
    padding-left: 3px;
    font-size: 18px;
    align-items: center;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}