html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: #333333;
}

.sidebar {
    position: fixed;
    background-color: #FFE699;
    width: 250px;
    height: 100%;
}

.logo {
    text-align: center;
}

.img-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 20px auto;
    overflow: hidden;
}

.img-logo img {
    width: 100px;
    height: 100px;
    object-fit: fill;
}

.content {
    margin-left: 250px;
    padding: 15px;
}

.card{
    width: 160px;
    height: auto;
    background-color: #B3E5FC;
    float: left;
    border-radius: 0 0 8px 8px;
    padding: 0 0 10px 0;
    margin: 9px;
    box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.45);
    overflow: hidden;
}

.phone-info {
    text-align: center; 
}

.phone-info h2,h3,p {
    margin: 0;
    padding-bottom: 5px;
}

.phone-info p {
    font-family: "Noto Serif";
    font-size: 14px;
}

.checkboxes {
    vertical-align: middle;
    text-align: center;
}

.checkboxes input[type="checkbox"] {
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.checkboxes input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

.checkboxes label {
    vertical-align: middle;
    font-size: 18px;
}

.clearfix {
    clear: both;
}

.button-container {
    clear: both;
    text-align: center;
    margin: 8px;
}

.btnCompare {
    display: block;
    margin: 15px auto 0 auto;
    padding: 10px 30px;
    font-size: 24px;
    background-color: #0288D1;
    border: 0 solid white; /* supaya tidak ada border di semua browser */
    border-radius: 999em;
    color: whitesmoke;
    font-family: inherit;
}

.btnCompare:disabled {
    background-color: #B0BEC5;
    color: #FFFFFF;
    cursor: not-allowed;
    opacity: 0.6;
}

.btnCompare:hover:enabled {
    background-color: #0277BD;
}